# Abhängigkeiten
node_modules/

# Build-Output
dist/

# Vite cache
.vite/

# Log-Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor-Verzeichnisse
.vscode/
.idea/

# macOS
.DS_Store

# Umgebungsdateien
.env
.env.*.local

# optional: GitHub Pages deploys
.gh-pages/
